.main {
    position: relative;
    background-color: #3f51b5;
    width: 100%;
}
.center-text {
  display: flex;
  flex-direction: column; 
  align-items: center;    
  justify-content: center; 
  text-align: center;     
  height: 200px;           
}

.center-text .big {
  font-size: 60px;      
  font-weight: bolder;
  color: white;
}

.center-text .small {
  font-size: 40px;      
  display: block;       
  margin-top: 4px;
  font-weight: bold;   
  color: white;  
}

.to-personal-area {
  position: absolute;
  right: 16px;        
  top: 50%;            
  transform: translateY(-50%); 
}
