.home-page {
    background-color: #d7e3ff;
}

.header {
    height: 30%;
    background-color: #3f51b5;
}

.notices-row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.notices-row-component {
    width: 100%;
}